* {
    background-color: white;
}

.box {
    width: 20vw;
    height: 20vw;
    background-color: red;
    bottom: 10%;
    right: 10%;
    position: fixed;
}

/* Styling for Help popup */
.contactPopup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(217, 217, 217, 0.45);
    animation: fadein forwards 0.3s ease-in;
}

.contactContent {
    background-color: #D9D9D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    font-family: var(--main-font);
    animation: slide forwards 0.3s ease-out;
}