* {
    background-color: white;
    overflow: hidden;
}

.box {
    width: 20vw;
    height: 20vw;
    background-color: red;
    bottom: 10%;
    right: 10%;
    position: fixed;
    border: transparent;
}

/* Styling for Help popup */
.contactPopup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(217, 217, 217, 0.45);
}

.contactContent {
    margin: 10vw auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
    text-align: center;
}