body{
    background-image: url(/src/assets/brutImages/LucasTexture.jpg);
}

.rectangle{
    background-color: antiquewhite;
    height: 3000px;
    width: 30%;
    position: absolute;
    z-index: 1;
    right: 0; 
}

.poster {
    width: 30%;
}

h1 {
    justify-content: center;
    align-items: center;
}

.videoText {
    text-align: right;
    margin-right: 15%;
    position: relative;
    z-index: 2;
}
.video {
    width: 80vw;
    height: 30vw;
    background-color: darkgray;
    margin-top: 40px; 
    position: relative;
    z-index: 2;
    margin: 0 auto

}

.activationText {
    text-align: right;
    margin-right: 15%;
    position: relative;
    z-index: 2;
}

.activationContent {
    text-align: left;
    margin-left: 72%;
    position: relative;
    z-index: 2;
}

.activation {
    width: 65vw;
    background-color: darkgray;
    margin-top: -200px; 
    position: relative;
    z-index: 2;
}

.prText {
    text-align: right;
    margin-right: 15%;
    position: relative;
    z-index: 2;
}
.prVideo {
    width: 80vw;
    height: 30vw;
    background-color: darkgray;
    margin-top: 40px; 
    position: relative;
    z-index: 2;
    margin: 0 auto
}