@font-face {
    font-family: 'Mohave';
    src: url('../assets/fonts/oliver_3/static/Mohave-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('../assets/fonts/oliver_3/static/Mohave-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('../assets/fonts/oliver_3/static/Mohave-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('../assets/fonts/oliver_3/static/Mohave-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(/src/assets/LucasTexture.jpg);
    font-family: "Mohave";
    /* background-attachment: fixed; */
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}

.grid-container .side {
    background-color: antiquewhite;
}

.grid-container img {
    max-width: 100%;
}

/* Poster section */

.posterWrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.poster {
    width: 30vw;
    height: 40vw;
    background-color: darkgray;
    position: absolute;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
}

.poster:nth-child(1) {
    top: 50px;
    transform: rotate(-2deg);
}

.poster:nth-child(2) {
    top: 100px;
    left: 520px;
    transform: rotate(2deg);
}

.poster:nth-child(3) {
    top: 650px;
    left: 70px;
    transform: rotate(-1deg);
}


.side * {
    margin-left: 2vw;
    margin-right: 1vw;
}

h1 {
    font-family: 'Mohave';
    font-weight: 700;
    text-align: right;
    margin-right: 2vw;
    font-size: 4em;
}

h2 {
    font-weight: 500;
}

h4 {
    font-weight: 600;
}

h3, p {
    font-weight: 400;
}

h4 {
    font-weight: 600;;
    font-size: larger;
}

.scriptBold {
    font-weight: 500;
    font-size: large;
}

.video {
    width: 80vw;
    height: 30vw;
    background-color: darkgray;
    margin-top: 40px; 
    position: relative;
    z-index: 2;
    left: -60vw;

}


.activation {
    z-index: 2;
    max-width: 100%;
    padding: 2rem;
}

.socialMedia {
    z-index: 2;
    max-width: 100%;
}

.grid-container .sticker {
    margin: 0 auto;
    max-width: min(100%, 500px);
}

/* Topicals section */

.topicalsWrapper {
    margin-top: 50px; /* Adds space between the radio ad section and this section */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the topical posters within the wrapper */
    align-items: flex-start;
    width: 100%;
    padding: 20px 0; /* Optional padding for better spacing */
    position: relative; /* Position relative to allow absolute centering */
}

.topicalPoster {
    width: 30vw;
    height: 40vw;
    background-color: darkgray;
    position: absolute; /* Ensure it's in the normal document flow */
    transform: translateX(-50%); /* Center it horizontally */
}

.topicalPoster:nth-child(1) {
    position: relative;
    left: -850px;
    top: -50px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    transform:rotate(91deg)
}

.topicalPoster:nth-child(2) {
    left: -150px;
    top:70px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
    transform:rotate(2deg);
}

.topicalPoster:nth-child(3) {
    left:-900px;
    top:490px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
    transform:rotate(-2deg);
}

.topicalPoster:nth-child(4) {
    position: relative;
    left: -180px;
    top: 100px;
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(-91deg);
}

.topicalPoster:nth-child(5) {
    left:-900px;
    top:1100px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7);
    transform:rotate(-92deg);
}

.topicalPoster:nth-child(6) {
    position: relative;
    left: -180px;
    top: 250px;
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2);
    transform:rotate(1deg);
}

.topicalPoster:nth-child(7) {
    left:-800px;
    top:1690px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7);
    transform:rotate(-2deg);
}

/* back button  */
.expandedview__back {
    position:fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    width: 80px;
    z-index: 100;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 70% 30%;
    }

    .grid-container .wide {
        grid-column: 1 / span 2;
    }


    .side h2 {
        margin-top: 80px;
    }
}