<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
            <link rel="stylesheet" href="contentComponent.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luke Content</title>
    </head>
    <body>
        <!-- Poster section -->
        <div class="container">
            <section class="posterWrapper">
                <div class='poster' src=""></div>
                <div class='poster' src=""></div>
                <div class='poster' src=""></div>
            </section>

            <!-- Rectangle w.text -->
            <div class="rectangle">
                <h1>BRUT</h1>
                <h2>Insight</h2>
                <h3>You sweat more in high pressure situations.</h3>
                <h2>SMP</h2>
                <h4>Smell unflappable</h4>

                <!-- Section for TV video (brut), PR stunt video (brut) D&AD video (coke),  -->
                <section>
                    <h2>30 second TV ad</h2>
                    <div class="video"></div>
                </section>

                <!-- Section for activation (brut), travel extension (eurostat), digital banner (Halfords) -->
                <section>
                    <h2>Activation</h2>
                    <p>Scunthorpe United are set to play Liverpool in the FA Cup, and need to smell unflappable in the face of such a big challenge.<br><br>
                    So, Brut are going to sponsor Scunthorpe’s finest for as long as they can survive the tournament, and provide them with kits that are scented with the Brut Original fragrance.<br><br>
                    Proving that Brut helps you smell unflappable—even if you’re screaming on the inside.<br>
                        </p>
                    <img class="activation" src=''>
                </section>

                <!-- Section for PR Stunt (brut), social media (wotsits), brand collab (wotsits), uber ads (wotsits),
                dating app ads (rustlers), sticker (wotsits), D&AD brief(coke)-->
                <section>
                    <h2>Social Media</h2>
                    <p>Hello World!</p>
                    <div class="socialMedia"></div>
                </section>

                <section>
                    <h2>60 second radio ad:</h2>
                    <p>User (Thick East End accent, hushed tone):</p>
                    <p class="scriptBold">‘ere mate, can I eh... Can I get 36g of the finest?</p>
                        
                    <p>Dealer:</p>
                    <p class="scriptBold">Sure.</p>
                        
                    <p>User:</p>
                    <p class="scriptBold">Woar, that’s the stuff.</p>
                        
                    <p>Dealer (Sounding bemused): </p>
                    <p class="scriptBold">Um, you got payment?</p>
                        
                    <p>User (Sounding transfixed):</p>
                    <p class="scriptBold">Eh? Oh yeah,‘ere you go.</p>
                        
                    <p>(Sound of a card machine beeping communicating that he’s actually bought the Wotsits from a shop).</p>
                        
                    <p>User (Sounding transfixed):</p>
                    <p class="scriptBold">Ta.</p>
                        
                    <p>Dealer (Sounding a little judgemental):</p>
                    <p class="scriptBold">See you later.</p>
                        
                    <p>(Sound of Wotsits bag being ripped open and the sound of snacks being
                        wolfed down by the user as he moans in ecstasy).</p>
                        
                    <p>V/O (A whispering East End accent):</p>
                    <p class="scriptBold">Wotsits. Addictively Cheesy.</p>

                    <!-- <img class="radio" src='./assets/temporaryRadio.jpeg'> -->
                </section>

                <section>
                    <h2>Topicals</h2>
                    <div class="topicalsWrapper">
                        <div class='topicalPoster' src="Last min"></div>
                        <div class='topicalPoster' src="Karcher"></div>
                        <div class='topicalPoster' src="GoHenry"></div>
                        <div class='topicalPoster' src="Dementia"></div>
                        <div class='topicalPoster' src="WhatsApp"></div>
                        <div class='topicalPoster' src="Costa"></div>
                        <div class='topicalPoster' src="RNIB"></div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Add src link -->
    <script src="contentComponent.js"></script>
    </body>
</html>