.grid-container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    min-height: 100svh;
}

.grid-container .main {
    order: 1;
}

.grid-container .side {
    background-color: antiquewhite;
    padding: 1rem;
    order: 0;
}

.grid-container section {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 2rem;
}

.grid-container section.paper {
    background: white;
    background-image: url("../assets/paper.webp");
    background-size: cover;
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem 2rem;
    margin-top: 2.5rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
}


.grid-container img {
    max-width: 100%;
}

/* Poster section */

.posterWrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.poster {
    max-width: 100%;
    max-height: 90vh;
    background-color: darkgray;
    /* position: absolute; */
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.7);
}

h1 {
    font-weight: 700;
    /* text-align: right; */
    /* margin-right: 2vw; */
    font-size: 4em;
}

h2 {
    font-weight: 500;
}

h4 {
    font-weight: 600;
}

h3, p {
    font-weight: 400;
}

.main h2 {
    font-weight: 700;
    font-size: 2rem;
    margin: 0.5em 0;
}

.scriptBold {
    font-weight: 500;
    font-size: large;
    margin-top: 0;
}

.video {
    width: 80vw;
    height: 30vw;
    background-color: darkgray;
    margin-top: 40px; 
    position: relative;
    z-index: 2;
    left: -60vw;

}

iframe {
    margin: 1rem auto;
    border: 0;
    max-width: 100%;
}

img.prstunt {
    max-width: 100%;
    padding: 2rem;
}

.socialMedia {
    z-index: 2;
    max-width: 100%;
}

.grid-container .radio {
    max-width: 400px;
    margin: 0 auto;
}

audio {
    display: block;
    margin-top: 8px;
}

.wotsits-script .scriptSmall {
    margin-bottom: 0;
    color: #414f5a;
}

/* back button  */
.expandedview__back {
    position:fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width: 60px;
    z-index: 100;
}

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: 70% 30%;
    }

    .grid-container .main {
        order: 0;
    }

    .grid-container .inner {
        height: min-content;
        position: sticky;
        top: 34px;
    }


    .grid-container .poster {
        max-width: 50vw;
    }

    .imagerow {
        display: flex;
        gap: 1rem;
        max-width: 100%;
        height: min-content;
        max-height: 400px;
    }

    .imagerow > img {
        height: auto;
        max-height: 100%;
        object-fit: contain;
        max-width: calc(50% - 1rem);
    }

}

@media (min-width: 1200px) {
    .grid-container .poster {
        max-width: 40vw;
        max-height: 70vh;
    }

    .grid-container .side {
        padding: 1.5rem;
        order: 1;
    }

    iframe {
        width: 840px;
        height: 465px;
    }
}