.expandedview__back {
    position:fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    width: 80px;
}


.expandedview__image {
    min-width: 300px;
    width: 100%;
    min-height: 300px;
    background-color: grey;
    box-shadow: 0 4px 10px rgba(22, 0, 60, 0.3);
    border-radius: 2px;
    flex-shrink: 0;
}

.expandedview__wrapper {
    display: flex;
    width: 100vw;
    height: 100lvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.expandedview__textcontainer {
    width: 100%
}

@media (width > 800px) {
    .expandedview__wrapper {
        flex-direction: row;
        padding: 3rem;
    }

    .expandedview__back {
        top: 2rem;
        left: 3rem;
    }
    .expandedview__image {
        width: 500px;
        height: 500px;
        background-color: grey;
    }
}