.card.indexShowHelp {
    width: 180px;
    height: 180px;
    background-color: red;
    background-image: url("/vinylCoverImages/ALWhiteStripesCoverSleeve.webp");
    background-size: cover;
    position: fixed;
    border: transparent;
    color: transparent;
    border-radius: 2px;
    z-index: 19;
    top: 3rem;
    right: 18rem;
}

/* Styling for Help popup */
.contactPopup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    /* height: max-content ; */
    overflow: auto;
    background-color: transparent;
    display: flex;
}

.contactContent {
    margin-left:40%;
    color: black;
    position: relative;
    padding: 20px;
    /* border: 1px solid #888; */
    background-color: white;
    width: 60%;
    min-height: 100vh;
    /* height: max-content !important; */
    /* border-radius: 8px; */
    /* text-align: center; */
    box-shadow: -4px -4px 10px rgba(22, 0, 60, 0.3);
}

.buskingText {
    margin-top: 10%;
}

.tag {
    font-family: 'CustomText';
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
    margin-right: 2vw;
}

.imageContainer {
    background-image: url('../assets/Busking.webp');
    background-size: cover; 
    background-position: center;
    height: 350px;
}

#indexPopupClose {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: #777
}

@media (min-width: 600px) {
    .card.indexShowHelp {
        height: 300px;
        width: 300px;
        bottom: auto;
        left: 6%;
        top: 5rem;
        z-index: 15;    
    }

    .contactContent {
        width: 30%;
        margin-left: 70%;
    }
}

@media (min-width: 1600px) {
    .card.indexShowHelp {
        height: 410px;
        width: 410px;
        bottom: auto;
        right: 25%; 
        top: 10rem;   
        z-index: 15;
    }
    .contactContent {
        width: 25%;
        margin-left: 75%;
        font-size: 1.1em;
    }

}