.box {
    width: 250px;
    height: 250px;
    background-color: red;
    background-image: url("src/assets/vinylCoverImages/ALWhiteStripesCoverSleeve.jpg");
    background-size: cover;
    bottom: -1rem;
    right: 0;
    position: fixed;
    border: transparent;
    color: transparent;
    border-radius: 2px;
    z-index: 50;
}

/* Styling for Help popup */
.contactPopup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(217, 217, 217, 0.45);
}

.contactContent {
    margin: 10vw auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
    text-align: center;
}

@media (min-width: 600px) {
    .box {
        height: 300px;
        width: 300px;
        bottom: 10%;
        right: 10%;    
    }
}