.card.indexShowHelp {
    width: 250px;
    height: 250px;
    background-color: red;
    background-image: url("src/assets/vinylCoverImages/ALWhiteStripesCoverSleeve.jpg");
    background-size: cover;
    bottom: -1rem;
    right: 0;
    position: fixed;
    border: transparent;
    color: transparent;
    border-radius: 2px;
    z-index: 11;
}

/* Styling for Help popup */
.contactPopup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    /* height: max-content ; */
    overflow: auto;
    background-color: transparent;
    display: flex;
}

.contactContent {
    margin-left:40%;
    color: black;
    position: relative;
    padding: 20px;
    /* border: 1px solid #888; */
    background-color: white;
    width: 60%;
    height: max-content !important;
    /* border-radius: 8px; */
    /* text-align: center; */
    box-shadow: -4px -4px 10px rgba(22, 0, 60, 0.3);
}

.buskingText {
    margin-top: 10%;
}

.imageContainer {
    background-image: url('../assets/Busking.webp');
    background-size: cover; 
    background-position: center;
    height: 350px;
}

#indexPopupClose {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: #777
}

@media (min-width: 600px) {
    .card.indexShowHelp {
        height: 300px;
        width: 300px;
        bottom: 10%;
        right: 10%;    
    }

    .contactContent {
        width: 30%;
        margin-left: 70%;
    }
}

@media (min-width: 1600px) {
    .card.indexShowHelp {
        height: 350px;
        width: 350px;
        bottom: 10%;
        right: 15%;    
    }
    .contactContent {
        width: 25%;
        margin-left: 75%;
        font-size: 1.1em;
    }

}