@font-face {
  font-family: 'Oliver';
  src: url('../assets/fonts/oliver_3/Oliver-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

  .card {
    --base-size: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 8px rgba(22, 0, 60, 0.5);
    width: var(--base-size);
    height: var(--base-size);
    transform-origin: center center; /* Ensure scaling rotates from the center */
    list-style: none;
    border-radius: 2px;
    transform-style: preserve-3d;
    position: relative; /* Ensure it respects the parent’s positioning */
    margin: 0 auto; /* Ensure it stays centered horizontally */
  }  

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust based on your layout */
    overflow: hidden;
  }
  
  .card__front, .card__back {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    position: absolute;
  }
  
  .card__back .inner {
    font-family: Oliver, sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 50% auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title"
    "insight smp";
    gap: 0.5rem;
    position: absolute;
    background-size: cover;
    color: rgb(26, 26, 141);
  }

  .inner h2 {
    font-size: 2rem;
  }

  .inner h3 {
    font-size: 1.3rem;
    margin: 0
  }

  .inner p {
    font-size: 0.9rem;
  }
  
  .record-image {
    width: var(--base-size);
    height: var(--base-size);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: 800px) {
    .card {
        --base-size: 350px;
    }
  }


  @media (min-width: 1600px) {
    .card {
        --base-size: 400px;
    }
  }