.card.indexShowHelpSmp {
    width: 140px;
    height: 140px;
    background-color: red;
    background-image: url("/vinylCoverImages/smpsRiot.webp");
    background-size: cover;
    position: fixed;
    border: transparent;
    color: transparent;
    border-radius: 2px;
    z-index: 11;
    top: -2.0rem; /* Positioned at the bottom right */
    right: 20rem;
    transform: rotate(0deg); /* No rotation for default */
}

/* Styling for Help popup */
.contactPopup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    display: flex;
}

h3 {
    margin-top: 3.4em;
}

.contactContent {
    margin-left:40%;
    color: black;
    position: relative;
    padding: 20px;
    /* border: 1px solid #888; */
    background-color: white;
    width: 60%;
    height: max-content;
    /* border-radius: 8px; */
    /* text-align: center; */
    box-shadow: -4px -4px 10px rgba(22, 0, 60, 0.3);
}

#indexPopupClose {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: #777
}



@media (min-width: 600px) {
    .card.indexShowHelpSmp {
        height: 250px;
        width: 250px;
        bottom: auto;
        right: 6%; 
        top: -3.7rem; 
        /* transform: rotate(50deg);   */
    }

    .contactContent {
        width: 30%;
        margin-left: 70%;
    }
}

@media (min-width: 1600px) {
    .card.indexShowHelpSmp {
        height: 380px;
        width: 380px;
        right: 3%; 
        top: -6rem; 
        bottom: auto; 
        /* transform: rotate(40deg);  */
    }
    .contactContent {
        width: 25%;
        margin-left: 75%;
        font-size: 1.1em;
    }
}