.card.indexShowHelpTopicals {
    width: 200px;
    height: 200px;
    background-color: red;
    background-image: url("/vinylCoverImages/topicalsReputation.webp");
    background-size: cover;
    position: fixed;
    border: transparent;
    color: transparent;
    border-radius: 2px;
    z-index: 11;
    bottom: 45rem;
    right: -4rem;
    transform:rotate(0deg);
}

/* Styling for Help popup */
.contactPopup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    display: flex;
}

.contactContent {
    margin-left:40%;
    color: black;
    position: relative;
    padding: 20px;
    /* border: 1px solid #888; */
    background-color: white;
    width: 60%;
    height: 100%;
    /* border-radius: 8px; */
    /* text-align: center; */
    box-shadow: -4px -4px 10px rgba(22, 0, 60, 0.3);
}

.imageOne {
    width: 100%;
    margin-top: 1em;
}

#indexPopupClose {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: #777
}

.imagePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
}

.enlargedImage {
    max-width: 90%;
    max-height: 90%;
}



@media (min-width: 600px) {
    .card.indexShowHelpTopicals {
        height: 280px;
        width: 280px;
        bottom: auto;
        right: 14%; 
        top: 20rem;
        /* transform: rotate(50deg);  */
    }

    .contactContent {
        width: 30%;
        margin-left: 70%;
    }
}

@media (min-width: 1600px) {
    .card.indexShowHelpTopicals {
        height: 330px;
        width: 330px;
        bottom: auto;
        right: 12%; 
        top: 39rem;   
    }
    .contactContent {
        width: 25%;
        margin-left: 75%;
        font-size: 1.1em;
    }

}
