@font-face {
    font-family: 'CustomTitle';
    src: url('./assets/fonts/oliver_3/static/Mohave-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomSubtitle';
    src: url('./assets/fonts/oliver_3/static/Mohave-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomBold';
    src: url('./assets/fonts/oliver_3/static/Mohave-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomText';
    src: url('./assets/fonts/oliver_3/static/Mohave-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(/src/assets/LucasTexture.jpg);
}

/* Poster section */

.posterWrapper{
    position: relative;
}

.poster {
    width: 30vw;
    height: 40vw;
    background-color: darkgray;
    position: absolute;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
}

.poster:nth-child(1) {
    top: 50px;
    transform: rotate(-2deg);
}

.poster:nth-child(2) {
    top: 100px;
    left: 520px;
    transform: rotate(2deg);
}

.poster:nth-child(3) {
    top: 650px;
    left: 70px;
    transform: rotate(-1deg);
}

/* Rectangle and text */

.rectangle {
    background-color: antiquewhite;
    height: 3000px;
    width: 30%;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0; 
}

h2, h3, h4, p {
    margin-left: 2vw;
}

h1 {
    font-family: 'CustomTitle';
    text-align: right;
    margin-right: 2vw;
    font-size: 4em;
}

h2 {
    font-family: 'CustomSubtitle';
}

h4 {
    font-family: 'CustomBold'
}

h3, p {
    font-family: 'CustomText';
    font-weight: bold;
}

h4 {
    font-family: 'CustomBold';
    font-size: larger;
}

.video {
    width: 80vw;
    height: 30vw;
    background-color: darkgray;
    margin-top: 40px; 
    position: relative;
    z-index: 2;
    margin: 0 auto

}

.activation {
    width: 65vw;
    background-color: darkgray;
    margin-top: -200px; 
    position: relative;
    z-index: 2;
}

.prVideo {
    width: 80vw;
    height: 30vw;
    background-color: darkgray;
    margin-top: 40px; 
    position: relative;
    z-index: 2;
    margin: 0 auto
}